<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">WEB PROGRAMMING SHOP</h1>
            <h3 class="jumbotron-heading">Edit current user's cart</h3>
        </div>
    </section>
    <div class="container mb-4">
        <div class="m-5">
            <a th:href="@{/shopping-cart}" class="btn btn-link">Back</a>
        </div>
        <div class="row">
            <ul>
                <td th:text="${cart.getDateCreated()}"></td>
                <td th:text="${cart.getUser() != null} ? ${cart.getUser().getUsername()} : 'No User'"></td>
                <form th:method="POST" th:action="'/shopping-cart/update/' + ${cart.getId()}">
                    <div class="form-group">
                        <select name="status" id="status" class="form-control">
                            <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}"
                                    th:selected="${cart.getStatus() == status}">

                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>


            </ul>
        </div>
    </div>
</div>